.main-container{
  .outside-app{
    width: 875px;
    background-color: #ffffff;
	  box-shadow: 0px 1px 4px 0px  #b6dcfe;
    border-radius: 3px;
    margin: 65px auto;
    padding: 98px 0;
    .error_img_pc{
      width: 315px;
      margin: 0 auto;
      display: block;
      margin-bottom: 24px;
    }

    .error_img_phone{
      display: none;
    }
    h1{
      color: $title;
      font-family: $font-family;
      margin-bottom: 11px;
    }
    p{
      max-width: 640px;
      text-align: center;
    }
  }
}

@media screen and (max-width:768px){
  .main-container{
    .outside-app{
      width: 94%;
      background-color: #ffffff;
      box-shadow: 0px 1px 4px 0px #b6dcfe;
      border-radius: 3px;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 80px 10px;
      margin-top: 10%;
      min-width: 90%;
      .error_img_phone{
        width: 40%;
        margin: 0 auto;
        display: block;
        margin-bottom: 24px;
      }

      .error_img_pc{
        display: none;
      }
      h1{
        color: $title;
        font-family: $font-family;
        margin-bottom: 11px;
      }
    }
  }
}

@media screen and (max-width:500px){
  .main-container{
    .outside-app{
      .error_img_phone{
        width: 60%;
        margin: 0 auto;
        display: block;
        margin-bottom: 24px;
      }
      .error_img_pc{
        display: none;
      }
    }
  }
}
