
.program-details-wrapper .program-course-card .course-details .course-title .course-title-link, .program-details-wrapper .program-course-card .course-details .course-title .course-title-link:visited{
  color:$primary;
  font-size: 16px;
  text-decoration:none;
}

.program-details-wrapper .course-list > div:nth-of-type(even){
  background-color:rgba(255,255,255,0)
}

.program-details-wrapper .program-details-header .authoring-organizations .heading{
    color: #4788C7;
    font-weight: normal;
}
.program-course-card .course-entitlement-selection-container{
    padding-top: 0;
}
.program-details-wrapper .program-course-card .section:not(:last-child){
    margin-bottom: 0;
}
.program-details-wrapper .program-course-card .expired-notification{
    padding-top:0;
}
// @media screen and (min-width: 768px){
  .main-container{
    .program-details-wrapper{
      width: 1200px;
      margin: 0 auto;
      .program-course-card {
        padding:13px 25px;
        .section{
          &:not(:first-child) {
            color: #656d87;
          }
        }
      }
      .program-details-content{
        padding: 0px;
        width: 65.2%;
        box-sizing: border-box;
        .program-heading{
          background-color: #ffffff;
          box-shadow: 0px 0px 3px  #b6dcfe;
          padding: 23px 25px;
          box-sizing: border-box;
          border-radius: 3px;
          margin-bottom:20px;
          .program-heading-title{
            font-size: 18px;

          }
          .program-heading-message{
            div{
              color: #656D78;
            }
          }
          .upgrade-button.complete-program{
            align-self: flex-start;
            background: #57aa01;
            border-color: #57aa01;
            margin: 20px 15px 10px 0px;
            border-radius: 3px;
            padding-left: 30px;
            padding-right: 30px;
          }
        }

        .course-list-headings{
          .in-progress-group{
            padding: 12px 0px;
            background-color: #ffffff;
            box-shadow: 0px 0px 3px  #b6dcfe;
            box-sizing: border-box;
            border-radius: 3px;
            margin-bottom:20px;
            .cta-primary{
              @extend %btn-my-primary;
              &:not(.btn):hover{
                color: #fff !important;
              }
              &:not(.btn):active{
                color: #fff !important;
              }
              &:not(.btn):visited{
                color: #fff !important;
              }
            }

            .course-list-heading{
              margin-bottom: 30px;
              margin-top: 0px;
              padding-bottom: 10px;
              border-bottom: 1px solid #e6e9ed;
              span{
                margin-left: 10px;
                font-size: 16px;
                color: #414141;
              }
              .status{
                margin-left: 25px;
                font-size: 16px;
                color: #414141;
                margin-right: 0;
              }
            }
            .course-list{
              .program-course-card{
                .course-details{
                  position: relative;
                  .course-title{
                    color: $primary;
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom:7px;
                    a{
                      text-decoration:none;
                      font-size:16px;
                    }
                  }
                  .course-text{
                    .enrolled{
                      color: #656d78;
                    }
                    .run-period{
                      color: #656d78;
                    }
                  }

                }
                .course-actions{
                  width:auto;
                  right: 0px;
                  .course-enroll-view{
                    margin-top:-32%;
                    .cta-primary{
                      @extend %btn-my-primary;
                      &:not(.btn):hover{
                        color: #fff !important;
                      }
                      &:not(.btn):active{
                        color: #fff !important;
                      }
                      &:not(.btn):visited{
                        color: #fff !important;
                      }
                    }
                  }
                }
                .upgrade-message{
                    .certificate-status{
                        .price{
                            color: #57aa01;
                        }
                    }
                }
              }
              .upgrade-message{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
              }
            }
          }
          .remaining-group{
            padding: 12px 0px 35px;
            background-color: #ffffff;
            box-shadow: 0px 0px 3px  #b6dcfe;
            box-sizing: border-box;
            border-radius: 3px;
            margin-bottom:20px;
            .program-course-card{
              .course-content{
                overflow: inherit;
              }
              .course-details{
                  position: relative;
                .course-title {
                  color: #4788C7;
                  font-size: 16px;
                  font-weight: normal;
                  margin-bottom: 7px;
                }
                .course-actions{
                  width:auto;
                  right: 0px;
                  position: absolute;
                  top: 10%;
                  .course-enroll-view{
                    margin-top:0%;
                    .cta-primary{
                      @extend %btn-my-primary;
                      &:not(.btn):hover{
                        color: #fff !important;
                      }
                      &:not(.btn):active{
                        color: #fff !important;
                      }
                      &:not(.btn):visited{
                        color: #fff !important;
                      }
                    }
                  }
                }
                .run-period{
                  color:#656D78;
                }
              }

              .course-certificate{
                .card-msg{
                  font-weight: normal;
                  color:#656D78;
                }
                .fa-check-circle {
                  color: #57aa01;
                  margin-left: 0px;
                }
              }
              .action-msg-view{
                  margin-bottom:0px;
              }
            }
            .course-list-heading{
              margin-bottom: 27px;
              margin-top: 0px;
              padding-bottom: 10px;
              border-bottom: 1px solid #e6e9ed;
              span{
                margin-left: 10px;
                font-size: 16px;
                color: #414141;
              }
              .status{
                margin-left: 25px;
                font-size: 16px;
                color: #414141;
                margin-right: 0px
              }
            }

          }
          .completed-group{
            padding: 12px 0px;
            background-color: #ffffff;
            box-shadow: 0px 0px 3px  #b6dcfe;
            box-sizing: border-box;
            border-radius: 3px;
            margin-bottom:20px;
            .course-list-heading{
                margin-bottom: 25px;
            }
            .motivating-section{
              margin-left:25px;
              .motivating-heading{
                font-size: 14px;
                margin-bottom: 10px;
                color: #414141;
                font-weight: bold;
              }
            }
            .sidebar-button-wrapper{
                display: none;
            }
            .program-course-card{
              .course-details{
                .course-title {
                  font-weight: normal;
                }
                .course-actions{
                  margin-top: -45px;
                  width: 85px;
                  .grade-header{
                    text-align: left;
                  }
                  .grade-display{
                    text-align: left;
                  }
                }
                .run-period{
                  color:#656D78;
                }
              }
              .course-certificate{
                .card-msg{
                  font-weight: normal;
                  color:#656D78;
                }
                .fa-check-circle {
                  color: #57aa01;
                  margin-left: 0px;
                }
              }
            }
          }

          .course-list-heading{
            margin-bottom: 27px;
            margin-top: 0px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e6e9ed;
            span{
              margin-left: 10px;
              font-size: 16px;
              color: #414141;
            }
            .status{
              margin-left: 25px;
              font-size: 16px;
              color: #414141;
              margin-right: 0;
            }
          }
        }
      }



      .program-sidebar{
        width: 32%;
        padding:0;
        box-sizing: border-box;
        .program-progress{
          margin: 0px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding:32px  26px 12px;
          box-sizing: border-box;

          background-color: #ffffff;
          box-shadow: 0px 0px 3px  #b6dcfe;
          border-radius: 3px;
          margin-bottom:20px;
          .progress-heading{
            font-size: 16px;
            color: $primary;
            font-weight: normal;
          }
          .progress-label{
            top: 100px;
          }
          .complete{
            color: $primary;
            stroke: $primary;
          }
          .label{
            color: $primary;
          }
        }
        .program-record{
          box-sizing: border-box;
          padding: 12px 0px;
          background-color: #ffffff;
          box-shadow: 0px 0px 3px  #b6dcfe;
          border-radius: 3px;
          margin-bottom:20px;
          .divider-heading{
            padding-bottom: 12px;
            margin-bottom: 25px;
            margin-top: 0px;
            border-bottom: 1px solid #e6e9ed;
            font-size: 16px;
            color: #414141;
            padding-left: 25px;
          }
          .motivating-section{
            margin-left: 0px;
            font-size: 14px;
            color: #656d78;
            padding: 0 25px;
            box-sizing: border-box;
            margin-bottom: 13px;
            width: 100%;
            .motivating-message{
              color: #656d78;
              margin: 0px;
            }
          }
          .sidebar-button-wrapper{
            display: none;
          }
        }

        .js-course-certificates{
          box-sizing: border-box;
          background-color: #ffffff;
          box-shadow: 0px 0px 3px  #b6dcfe;
          border-radius: 3px;
          margin: 0 0 13px 0;
          .certificate-container{
            margin: 20px 0px;
          }
          .course-list-heading{
            padding-bottom: 12px;
            margin-bottom: 15px;
            margin-top: 0px;
            border-bottom: 1px solid #e6e9ed;
            font-size: 16px;
            color: #414141;
            padding-top:12px;
            padding-left: 25px;
          }
          .certificate-list{
            margin:0px;
            padding:0px;
            padding-left: 25px;
            .certificate{
              align-items: center;
              padding-bottom: 15px;
              .sample-cert{
                border: none;
                border-radius: 0px;
              }
              .certificate-link{
                font-size: 16px;
                color: #4788c7;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
    .program-details-header{
      width: 1200px;
      margin: 20px auto;
      padding: 17px 25px 80px;
      box-sizing: border-box;
      .meta-info{
        .program-title{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          word-wrap: break-word;
        }
      }
      .professional.certificate{
        display:block;
      }
      .program-details-icon{
        svg {
          fill:$primary;
        }
      }

      .heading{
        color:$primary;
      }
    }
  }
// }


@media screen and (min-width: 1024px){
  .main-container{
    .program-details-wrapper{
      .program-sidebar{
        width: 32%;
        .program-progress{
          margin: 0px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom:20px;
        }
      }
      .program-details-content {
        max-width: 100%;
      }
    }
  }

}


@media screen and (max-width:1024px){
  .main-container{
    .program-details-wrapper{
      width: 96%;
      margin: 0 auto;
    }
    .program-details-header{
      width: 100%;
      margin: 20px auto;
    }
  }
}

@media screen and (max-width:768px){
  .main-container{
    .program-details-wrapper{
        .program-details-header{
            display:flex;
            flex-direction:column;
            .meta-info{
                width: 100%;
                .program-title{
                    margin-top:1.25rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                    word-wrap: break-word;
                }
            }
            .authoring-organizations {
                width: 100%;
                text-align: left;
                display: flex;
                flex-direction: column;
                .org-logo{
                    width: 18%;
                    height: auto;
                }
                .org-logo:nth-child(1){
                    margin-left: 0px;
                }
            }
        }
    }

    .program-details-wrapper{
      width:96%;
      margin: 0 auto;
      .program-details-content{
        padding: 0px;
        width: 100%;
        margin-bottom: 0px;
        .course-list-headings{
          .in-progress-group{
            .course-list{
              .program-course-card{
                .course-details{
                  position: relative;
                  display:flex;
                  flex-direction:column;

                  .course-title{
                    color: $primary;
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom:7px;
                    a{
                      text-decoration:none;
                      font-size:16px;
                    }
                  }
                  .course-text{
                    color: #656D78;
                  }
                }
                .course-actions{
                  width:auto;
                  right: 0px;
                  position: static;
                  .course-enroll-view{
                    width:100%;
                    margin-top:10px;
                    text-align:right;
                  }
                }

                .upgrade-message{
                    flex-direction: column;
                    align-items: flex-start;
                    .action{
                        justify-content: flex-end;
                        margin-top: 10px;
                        display: flex;
                    }
                }
              }
            }
          }


          .remaining-group{
            .course-list{
              .program-course-card{
                .course-details{
                  position: relative;
                  display:flex;
                  flex-direction:column;

                  .course-title{
                    color: $primary;
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom:7px;
                    a{
                      text-decoration:none;
                      font-size:16px;
                    }
                  }
                  .course-text{
                    color: #656D78;
                  }
                }
                .course-actions{
                  width:auto;
                  right: 0px;
                  position: static;
                  .course-enroll-view{
                    width:100%;
                    margin-top:10px;
                    text-align:right;
                    position: static;
                  }
                }
              }
            }
          }
        }

      }

      .program-sidebar{
        width: 100%;
        padding:0;
        box-sizing: border-box;
      }
    }
  }
}


@media screen and (max-width:500px){
    .main-container .program-details-wrapper .program-details-content .course-list-headings .completed-group .program-course-card .course-details .course-actions{
      margin-top: 0px;
    }
    .main-container .program-details-wrapper .program-details-content .program-heading .upgrade-button.complete-program{
      padding-left:20px;
      padding-right:20px;
    }
    .program-details-wrapper .program-details-header .authoring-organizations .orgs .org-logo{
      width: 33%;
      height: auto;
    }
}
